<!DOCTYPE html >
{% load static %}
<html Lang='en'>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0" >
        <title>CRUD</title>
        <link rel='stylesheet' href={% static "enroll/css/bootstrap.css" %}>
    </head>
    <body>
        <div class="container mt-5">
            <h2 class ='text-center alert alert-danger'> Function Based View ModelForm CRUD project </h2>

            {% block content %} {%  endblock content%}

        </div>

    <script src="{% static 'enroll/js/jquear.js'%}"></script> 
    <script src="{% static 'enroll/js/popper.js'%}"></script> 
    <script src="{% static 'enroll/js/bootstrap.js'%}"></script>    
    </body>
    </html>
